<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About The Center</a></li>
            <li>
                <a href="#">Books</a>
                <ul>
                    <li><a href="/books/vol1">Vol 1</a></li>
                    <li><a href="/books/vol2">Vol 2</a></li>
                </ul>
            </li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/media">Media Center</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
